source_up
use flake
gh auth switch -u shedali 
export GIT_AUTHOR_NAME="Franz Sittampalam"
export GIT_COMMITTER_NAME="Franz Sittampalam"
export GIT_COMMITTER_EMAIL="shedali@gmail.com"
export GIT_AUTHOR_EMAIL="shedali@gmail.com"
export ANTHROPIC_API_KEY=$(op read "op://Personal/claude.ai/api-keys/ANTHROPIC_API_KEY")
